<div class="flex justify-between items-center px-5 py-4 bg-green-200">
    <h1 class="text-4xl italic text-red-500">MY TODO</h1>
    <div class="flex gap-7">
        <a [routerLink]="['new-todo']" [routerLinkActive]="'border-b-2 border-red-400 text-red-400'" class="p-3 cursor-pointer">NEW</a>
        <a [routerLink]="['list-todo']" [routerLinkActive]="'border-b-2 border-red-400 text-red-400'" class="p-3 cursor-pointer">LIST</a>
        <!-- <a [routerLink]="['favourite-todo']" [routerLinkActive]="'border-b-2 border-red-400 text-red-400'" class="p-3 cursor-pointer">FAVOURITE</a> -->
    </div>
</div>